body {
  --alrite-green: #6FC387;
  --light-green: #ECF4EE;
  --light-border: #E2E2E2;
  --light-background: #FBFBFB;
  --near-black: #262626;
  --warning-orange: #ED6F2E;

  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: scroll;
  transition: background-color 0.5s ease;
}

body,
button,
input,
option,
select {
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  white-space: nowrap;
  margin: 0;
  color: var(--near-black);
  transition: color 0.5s ease;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

button,
input,
option,
select {
  font-weight: 200;
}

button {
  border: none;
  border-radius: 3px;
  color: white;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  background-color: var(--light-border);
}

.selected button {
  background-color: var(--near-black);
}

.selected button:hover {
  cursor: pointer;
  background-color: var(--alrite-green);
}

.page-card-label h2 {
  font-size: 16px;
  opacity: 0.5;
}

.settings-card h1,
.component-card h1 {
  font-size: 20px;
  opacity: 0.85;
}

.settings-card h2,
.component-card h2 {
  font-size: 12px;
  opacity: 0.35;
}

.settings-card,
.component-card {
  white-space: nowrap;
  animation: fade-in forwards 1s ease;
}

.settings-card-fields,
.component-card-fields {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  transition: opacity 0.5s ease, max-height 0.5s ease, margin-top 0.5s ease;
}

.selected .settings-card-fields,
.selected .component-card-fields {
  opacity: 1;
  max-height: 100vh;
  margin-top: 10px;
}

.page-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 10px 20px;
  flex-basis: 300px;
  flex-shrink: 0;
  height: calc(100vh - 20px);
  transition: flex-basis 0.5s ease;
  animation: fade-in forwards 1s ease;
}

.page-card.selected {
  flex-basis: 450px;
  /* flex-basis: 900px; */
}

.card {
  background-color: var(--light-background);
  border: 3px solid var(--light-border);
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;

  color: var(--near-black);
  transition: border 0.5s ease, background-color 0.5s ease;
}

.selected .card {
  background-color: var(--light-green);
  border: 3px solid var(--alrite-green);
}

.component-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  transition: background-color 0.5s ease;
}

.card.component-card > .component-card-header {
  cursor: grab;
}

.page-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-button {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.info-button {
  width: 1em;
  height: 1em;
  margin-left: auto;
  margin-right: 5px;
  cursor: help;
}

.goto-button {
  margin-left: 5px;
}

.add-subcomponent-button {
  width: 35px;
  height: 35px;
  margin: 10px 0 10px 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease, margin 0.5s ease;
}

.page-card:not(.selected) .add-subcomponent-button {
  margin: 5px 0 5px 50%;
}

.page-card-label {
  margin-right: 25px;
  transition: margin 0.5s ease;
}

.selected>.page-card-label {
  margin-right: 50px;
}

.disabled,
.multiselect .prop-link,
.multiselect .prop-link + .goto-button,

.diagnosis-page .add-component-button,
.diagnosis-page .prop-defaultLink,
.diagnosis-page .prop-defaultLink + .goto-button,

.page-card:not(.selected) .drop-down,
.page-card:not(.selected) .drop-down {
  pointer-events: none;
  opacity: 0.5;
}

.page-card:not(.selected) .add-component-button,
.page-card:not(.selected) .add-subcomponent-button,
.page-card:not(.selected) .delete-component-button {
  pointer-events: none;
  opacity: 0.2;
}

.prop-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
}

.prop-input::before {
  content: var(--label) "*: ";
  opacity: 0.85;
  transition: color 0.5s ease;
}

.prop-input.optional::before {
  content: var(--label) ": ";
  opacity: 0.55;
}

.add-component-button,
.drop-down {
  transition: opacity 0.5s ease;
}

.add-component-button,
.add-button {
  cursor: pointer;
}

.card-subcomponents {
  width: unset;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.sub-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ============= */
/* HOVER TOOLTIP */
#tooltip {
  content: var(--label);
  color: var(--near-black);
  background-color: var(--light-border);
  border: 1px solid var(--near-black);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.25s ease, transform 0.25s ease;
  white-space: nowrap;
}

#tooltip.active {
  opacity: 1;
  transform: scale(1);
}

.tooltip-text {
  display: none;
  white-space: nowrap;
}
/* HOVER TOOLTIP */
/* ============= */

/* ============ */
/* INVALID PROP */
.validation-invalid.settings-card,
.validation-invalid.component-card {
  outline: 3px solid var(--warning-orange);
}

.validation-invalid.prop-input > input {
  outline: 3px solid var(--warning-orange);
  border-radius: 3px;
}

.validation-invalid.prop-input::before {
  color: var(--warning-orange) !important;
}
/* INVALID PROP */
/* ============ */

/* ============= */
/* SLIDER BUTTON */
.slider-button {
  --color: var(--light-border);
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 22px;
  border-radius: 22px;
  background-color: var(--color);
  transition: background-color 0.5s ease;
}
.slider-button.active {
  --color: var(--alrite-green);
}

.slider-knob {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: 4px solid var(--color);
  box-sizing: border-box;
  background-color: white;
  transition: border 0.5s ease, left 0.5s ease;
}
.active .slider-knob {
  left: 26px;
}
/* SLIDER BUTTON */
/* ============= */

#add-page-button {
  cursor: pointer;
  padding-left: 5vw;
  padding-right: calc(5vw + 10px);
  animation: fade-in forwards 1s ease;
}

.page-card.selected .card-button>circle {
  fill: var(--near-black)
}

.card-button>circle,
.add-button circle {
  fill: var(--light-border);
}

.page-card .card-button>circle,
.add-button circle {
  transition: fill 0.5s ease
}

.page-card .card-button:hover>circle,
.add-button:hover circle {
  fill: var(--alrite-green)
}

.diagnosis-page .component-card {
  display: none;
}

#dark-mode-button,
#light-mode-button,
#export-button,
#import-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#export-button {
  right: 60px;
  /* distance from edge to dark/light mode button + button size + margin */
}
#import-button {
  right: 110px;
}

.darkMode #export-button rect {
  fill: var(--light-background)
}
.darkMode #import-button rect {
  fill: var(--light-background)
}
.darkMode #import-button .needs-dark-fill {
  fill: #4B7557
}

#dark-mode-button:hover,
#light-mode-button:hover,
#export-button:hover,
#import-button:hover {
  transform: scale(0.95);
  opacity: 0.75;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

body.darkMode {
  background-color: var(--near-black);

  --light-green: #27442F;
  --light-border: #7E7E7E;
  --light-background: #545454;
  --near-black: #262626;
}

.darkMode #tooltip,
.darkMode h1,
.darkMode h2,
.darkMode .prop-input::before {
  color: white
}

.darkMode #tooltip {
  background-color: var(--light-background);
  border: 1px solid var(--light-border)
}